<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header text-center">
        Add Student
      </div>
      <div class="card-block">
        <form (ngSubmit)="saveStudent()" [formGroup]="studentForm" novalidate>
          <div class="form-group">
            <label>First Name
            <input class="form-control" placeholder="Enter First Name" formControlName="fname"></label>
          </div>
          <div class="form-group">
            <label>Last Name
            <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lname"></label>
          </div>
          <div class="form-group">
            <label>Address
            <textarea class="form-control" rows="3" formControlName="address"></textarea></label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!studentForm.valid">Save</button>
        </form>
        <p>Form value: {{ studentForm.value | json }}</p>
        <p>Form status: {{ studentForm.status | json }}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header text-center">
        Student List
      </div>
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item justify-content-between" *ngFor="let student of students" (click)="showDetails(student)">
            {{student.fname}}
            <span class="badge badge-default badge-pill">{{student.id}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>